<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>276683143717-fng25r09u5u9h0jnp9j092iio9i4d0p1.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.276683143717-fng25r09u5u9h0jnp9j092iio9i4d0p1</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>276683143717-7090m9n00is1rknfn25in3rtqs8gfq3h.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBkOVVPHP4s2dw-FKpVJMfm38aGCgKnxSs</string>
    <key>GCM_SENDER_ID</key>
    <string>276683143717</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.tiffsyApp</string>
    <key>PROJECT_ID</key>
    <string>tiffsy-foods</string>
    <key>STORAGE_BUCKET</key>
    <string>tiffsy-foods.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:276683143717:ios:cc78be58b8c78779141dcc</string>
</dict>
</plist>
